html
  head
    title AetheBot Admin
    link(rel='stylesheet', href='/style.css')
  body
    h1 Admin Page
    form(
      id='admin'
      action='/admin'
      method='post'
      enctype='application/x-www-form-urlencoded'
    )
      ul.flex-outer
        li
          p Action:
          ul.flex-inner
            li
              input#reconnect(type='radio',name='action',value="DISCORD_RECONNECT",checked=true)
              label(for='reconnect') Discord Reconnect
            li
              input#unused(type='radio',name='action',value="UNUSED")
              label(for='unused') Unused
        li
          label(for='password') Password:
          input#password(type='password',placeholder='password',name='password')
        li
          button#submit(type='submit') Submit
